* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  background-color: var(--bodyColor);
  /* border: 1px solid black; */
}
:root {
  /* --purple1: #b47eb3;
  --purple2: #9e43cb; */
  --bodyColor: #fdfbfe;
  /* --bodyColor: #eef5db; */
  --textColor1: #766a7c;
  --textColor2: #a89fad;
  --titleColor: #272329;
  /* Dark Mode */
  --darkBody: #092635;
  --darkFont: #e9e9e9;
  --darkBack: #1b4242;
  --linkColor1: #dd6464;
  --linkColor2: #d45050;
}
a {
  text-decoration: none;
  color: var(--linkColor1);
}
a:hover {
  color: var(--linkColor2);
}
p {
  color: var(--textColor1);
}
h1 {
  color: var(--titleColor);
}
i {
  color: var(--linkColor1);
}

/* Navbar Starts */
header {
  position: sticky;
  top: 0;
  background-color: var(--bodyColor);
  z-index: 100;
  box-shadow: 0px -1px 8px gray;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1.5% 14%;
}
.leftbar {
  font-size: 24px;
}
.rightbar {
  display: flex;
  gap: 45px;
  align-items: center;
}
/* Navbar ends */

/* Main section start */
main {
  padding: 0% 14%;
}
/* section1 start */
.heroSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.leftPart1 {
  display: flex;
  flex-direction: row;
  gap: 188px;
}
.links div {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.links div {
  transition: 1.2s ease-in;
}
.links div :hover {
  transform: scale(1.4);
  border-radius: 50%;
  background-color: var(--linkColor2);
  color: var(--bodyColor);
}
.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
/* .links div a {
  position: relative;
  top: 5px;
  left: 5px;
  height: 50px;
  width: 50px;
} */
.leftPart1About {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.name {
  font-size: 3rem;
  line-height: 1.4;
}
.rightPart1 img {
  height: 280px;
  width: 280px;
  background-color: var(--linkColor1);
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}
button {
  color: var(--bodyColor);
  background-color: var(--linkColor2);
  border: none;
  height: 50px;
  width: 140px;
  border-radius: 5px;
  margin-top: 20px;
}
button i {
  color: var(--bodyColor);
  background-color: var(--linkColor2);
}
button:hover {
  background-color: var(--linkColor1);
  cursor: pointer;
}
button i:hover {
  background-color: var(--linkColor1);
  cursor: pointer;
}
.scrollBar {
  position: relative;
  left: 222px;
  width: 22vmin;
  /* display: flex;
  gap: 10px; */
}
.scrollBtn {
  background-color: transparent;
  border: none;
}
.scrollBtn i {
  background-color: transparent;
  border: none;
  color: var(--linkColor2);
}
.scrollBtn :hover {
  background-color: transparent;
  border: none;
  color: var(--linkColor2);
  transform: translateY(0.25rem);
}
/* section1 ends */

/* section2 start */
.section2 {
  margin-top: 25vmin;
  text-align: center;
  height: 80vh;
}
.aboutMe {
  margin-top: 10vmin;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 150px;
  padding: 0px 9%;
}
.aboutMeImg img {
  height: 50vmin;
  width: 50vmin;
  border-radius: 10px;
}
.aboutMeText {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.status {
  display: flex;
  justify-content: center;
}
